<div class="service-card" id="<%= dom_id service %>">

  <div class="service-image">
    <img src="<%= service.icon %>" alt="<%= service.name %>" />
  </div>

  <div class="service-info">
    <b><%= service.name %></b>
    <p><%= service.created_at.strftime("%d %b %Y") %></p>
  </div>

  <div class="service-total-amount">
    <b>$<%= service.bills.sum(:amount) %></b>
  </div>

</div>
