<div id="<%= dom_id service %>">

  <div classname="service-image">
    <img src="<%= service.icon %>" alt="<%= service.name %>" />
  </div>

  <div classname="service-info">
    <%= service.name %>
    <%= service.created_at.strftime("%d %b %Y") %>
  </div>

  <div classname="service-total-amount">
    $<%= service.bills.sum(:amount) %>
  </div>

</div>
